/*			Contact Stylesheet 		*/


	.contact-header{
		margin: 25px auto;
		text-align: center;
		border-bottom: 2px solid #000;
		width: 100px;
		font-family: 'Special Elite', cursive;
	}

	.contact-content{
		display: flex;
		flex-direction: row;
		border: 1px solid #C8C8C8;
	}

	.contact-form{
		width: 50%;
	}

	.contact-form form{
		justify-content: center;
		align-self: center;
		padding: 2.5rem 0 0 2.5rem;
		border: 1px solid #C8C8C8;
		display: flex;
		flex-direction: column;
	}

	.form-input, .form-textarea, .form-submit{
		padding-left: .6rem;
		border: 1px solid #000;
		width: 20rem;
		height: 2.5rem;
		margin-bottom: 1.0rem;
	}

	.form-textarea{
		height: 5.5rem;
	}

	.form-submit{
		border: 0;
		background: #000;
		color: #FFF;
		font-weight: bold;
	}

	.contact-info{
		width: 50%;
		height: 30rem;
		border: 1px solid #C8C8C8;
	}
