	html, body{
		font-size: 15px;
		width: 100%;
	}

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: #000;
	}

	
/*			Gallery Stylesheet 		*/

	.slide-up{
		position: fixed;
		display: flex;
		justify-content: flex-end;
		top: 87vh;
		left: 96.5vw;
	}

	.slide-up i{
		font-size: 2.0rem;
		cursor: pointer;
	}

	.gallery-header{
		margin: 45px auto 30px auto;
		text-align: center;
		color: #000;
		border-bottom: 2px solid #000;
		width: 100px;
		font-family: 'Special Elite', cursive;
	}

	.gallery-pics{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px;
	}

	.artwork{
		width: 18rem;
		height: 18rem;
		margin: .9rem;
		cursor: pointer;
	}

	.artwork:hover{
		opacity: .9;
	}


	#close-icon{
		position: fixed;
		z-index: 4;
		color: #FFF;
		float: right;
		/*margin: 100px 0px 0px 20px;*/
		top: 40px;
		left: 92%;
		font-size: 2.5rem;
		cursor: pointer;
	}

	#close-icon:hover{
		opacity: .5;
	}

	.full-artwork-close{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
	}

	.full-artwork-close i{
		cursor: pointer;
		color: #FFF;
		font-size: 2.3rem;
		transform: rotate(-90deg);
		transition: ease .9s;
		margin: 1.4rem 2.0rem 0 0rem;
	}

	.full-artwork-close i:hover{
		color: #FFF !important;
		transform: rotate(90deg);
		transition: all ease .9s;
	}

	.full-artwork-container{
		position: fixed;
		overflow-y: auto;
		z-index: 3;
		width: 0;
		height: 100vh;
		background: #000;
		opacity: .95;
		transition: 0.5s;
	}

	.main-artwork-container{
		width: 100%; 
		margin-top: 18rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-artwork-container img{
		/*width: 85%;*/
		width: 34%;
	  	-o-object-fit: cover;
	    object-fit: cover;
	  	position: absolute;
	  	z-index: 4;
	}


	@media only screen and (max-width: 768px){
		.main-artwork-container{
			margin-top: 18rem !important;
		}
		.main-artwork-container img{
			width: 44%;
		}
	}


	@media only screen and (max-width: 576px){
		.main-artwork-container{
			margin-top: 20rem;
		}

		.main-artwork-container img{
			width: 85%;
		}
	}