/*			Contact Stylesheet 		*/


	.contact-header{
		color: #000;
		margin: 25px auto;
		text-align: center;
		border-bottom: 2px solid #000;
		width: 7.5rem;
		font-family: 'Special Elite', cursive;
	}

	.contact-content{
		display: flex;
		flex-direction: row;
	}

	.contact-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.contact-form form{
		justify-content: center;
		align-self: center;
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
	}

	.contact-form-alert{
		font-size: .9rem;
		padding: .7rem;
	}

	.form-input, .form-textarea, .form-submit{
		padding-left: .6rem;
		border: 1px solid #000;
		width: 21rem;
		height: 2.5rem;
		margin-bottom: 1rem;
	}

	.form-textarea{
		height: 5.5rem;
	}

	.form-submit{
		border: 0;
		background: #000;
		color: #FFF;
		font-weight: bold;
	}

	.contact-info{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: 29rem;
		padding-top: 2.5rem;
	}

	.contact-info-details{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		margin-top: 2.5rem;
	}

	.contact-detail{
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
	}

	.contact-icon{
		font-size: 1.4rem;
		margin: .1rem .5rem 0 0;
	}


	@media only screen and (max-width: 756px){
		.contact-content{
			flex-direction: column;
		}

		.contact-form, .contact-info{
			width: 100%;
		}
	}


	@media only screen and (max-width: 576px){
		.contact-form-alert{
			width: 68%;
		}
		.form-input, .form-textarea, .form-submit{
			width: 17rem;
		}
	

	}